* {
  box-sizing: border-box;
}
body {
  margin: 30px;
  color: black;
  background-color: white;
}

img {
  max-width: 100%;
  transition: 3s;
}
.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 30px;
}


.menu {
  flex-wrap: wrap;
  text-transform: capitalize;
  font-size: 1.6em;
  justify-content: center;
  align-items: center;
  display: flex;
}
.item {
  width: 33.333333%;
  padding: 0 10px;
}
.product-name {
  margin: 5px 0;
  color: black;
  font-size: 1.0em;
  justify-content: left;
  align-items: left;
  display: flex;
  text-transform: uppercase;
}
.product-price {
  margin: 5px 0;
  color: darkred;

  font-size: 1.0em;
  justify-content: left;
  align-items: left;
  display: flex;
}
