body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #111;
    line-height: 1.15;
  }
  
  .headline {
    text-align: center;
    margin: 40px;
  }
  h1 {
    font-size: 25px;
    color: #111;
 
  }