body {
  background-color: lightgray;
  color: darkblue;
  text-align: center;
  font-size: 30px;
}
h1{
    color: blue; font-size: 50px;
    text-align: center;
}
h2{
  color: blue;
}
p{
  font-size: 25px;
}
.conteiner{
  max-width: 1000px;
  margin:auto ;
  padding: 15px 
}
.doanvan1{
    color:darkolivegreen;
    }
    .doanvan2{
        color:darkred;
    }
    .doanvan3{
        color: darkviolet;
    }
